NETWORK_URL=https://soroban-rpc.stellar.org
NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VAULT_CONTRACT_ID=CAT6DSLDNWMNCG3MCI3DEKFBH63DWOOUTVAG263XAJOZU6I6GBCIHPF2
GOVERNANCE_CONTRACT_ID=CB7BYJEJKXKH2FOOMUXPMGMUI3ERIDZ4QNMZJRYTASSJAPNOURYUOY7U
VITE_VAULT_CONTRACT_ID=CAT6DSLDNWMNCG3MCI3DEKFBH63DWOOUTVAG263XAJOZU6I6GBCIHPF2
VITE_GOVERNANCE_CONTRACT_ID=CB7BYJEJKXKH2FOOMUXPMGMUI3ERIDZ4QNMZJRYTASSJAPNOURYUOY7U
